.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 20px 0px;
  border-bottom: 1px ridge;
  min-height:560px;
}
.row-bar-content {
  margin:0px auto;
  border-bottom: 1px ridge;
  min-height:502px;
}

.footer{
  background-color: #393939;
  color:floralwhite;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.footer a{
  color: floralwhite;
}
.highlight{
  border: 2px solid #3c3c3c;
}
.tui-image-editor-container{
  background-color:#151515 !important;
}
.tui-image-editor-container .tui-image-editor-main{
  top:0px ;
}
.tui-image-editor-container .tui-image-editor-main-container{
  bottom:0px ;
}
button{
  padding: 0px 5px 0px 5px;
}
.breadCrumb a{
  color: black;
}

address{
  font-size:80%;
  margin:0px;
  color:floralwhite;
}

.navbar-dark {
  background-color: #242829;
}
.top{
  position: absolute;
  top:-71px;
}
.left{
  left:-88px;
}
.mr{
  margin-right:30px;
}
.card{
  width: 100%;
}